# Large Dataset File (Hidden/Ignored from version control)
adobe_hackathon_results.json
*.json.gz


# Python cache & virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/

# IDE & Editor settings
.vscode/
.idea/
*.swp

# Temporary files & Scratch
scratch/
.ds_store
