# Raw Uncompressed Large Dataset (Ignored from version control)
adobe_hackathon_results.json

# Compressed Dataset (Tracked for serverless Vercel deployment - 2.3MB)
!adobe_hackathon_results.json.gz


# Python cache & virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/

# IDE & Editor settings
.vscode/
.idea/
*.swp

# Temporary files & Scratch
scratch/
.ds_store
